@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
}

#first_section {
    background-image: url("../imgs/Background\ Image.png");
    position: relative;
    max-width: 1450px;
    display: flex;
    align-items: center;
    height: 1024px;
    margin: 0 auto;
    z-index: 0;
    max-height: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: absolute;
    height: 114px;
    top: 35px;
    width: 100%;
    z-index: 2;
}

#header_top {
    display: flex;
    justify-content: space-between;
}

#header_contact {
    display: flex;
    gap: 45px;
    align-items: center;
}

#header_contact li a {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

#header_contact li a span {
    padding-left: 18px;
}

/* ALT+SHIFT+F */
#header_social_medias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#header_social_medias li a {
    color: white;
}

#header_bottom {
    height: 60px;
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.info {
    font-size: 16px;
    font-weight: 400;
}

#nav_left,
#nav_right {
    width: calc((100% - 250px) / 2);

}

#nav_left {
    padding: 20px;
    height: 100%;
}

#nav_left nav,
#nav_right nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

#nav_left nav a,
#nav_right nav a {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #232233;
}

.active {
    color: #5956E9 !important;
    text-decoration: underline;
    text-decoration-color: #5956E9;
}

#nav_right button {
    height: 50px;
    width: 150px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #5956E9;
    border: none;
    padding: 0 15px;
}

#btn{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
#logo {
    width: 200px;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}



#great_app {
    background-color: #FFFFFF;
    width: 40%;
    position: absolute;
    padding: 26px;
    margin-top: 80px;
}

#h2_great {
    color: #5956E9;
    font-size: 40px;
    font-weight: 700;
    margin-top: 14px;
}

#under_great {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
    margin-top: 18px;
    line-height: 24px;
}

#download_app_now {
    font-size: 25px;
    font-weight: 600;
    color: #232233;
    margin-top: 52px;
}

#background_div {
    color: transparent;
    border: 18px solid #7572FF;
    width: 52%;
    height: 475px;
    position: relative;
    z-index: -1;
    margin-left: 40px;
    margin-top: 23px;
}

#download_app_iphone {
    display: flex;
    justify-content: space-between;
}

/* #download_app{
    display: flex;
    position: absolute;
    background-color: white;
} */
#apple {
    position: relative;
    right: 0;
    overflow: hidden;
}

#apple_img {
    height: 526px;
}
#second_section{
    background-color: white;
    height: 1000px;
    margin-top: 120px;
}
#second_section .container {
    display: flex;
    flex-direction: column;
}

.about_our_app {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 55%;
}

.first_words_section {
    font-size: 31px;
    font-weight: 700;
    text-align: center;
}

.under_first {
    width: 100%;
    text-align: center;
    margin: 30px auto;
}

.under_first_text {
    display: inline-block;
    color: #6C6C72;
    margin-top: 18px;
    margin-left: 22px;
    font-size: 16px;
    font-weight: 400;
}

#android {
    display: flex;
    width: 50%;
    height: 526px;
}

.boxes {
    width: 100%;
    height: 160px;
    padding: 30px 20px 20px 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #232233;
    font-size: 20px;
    font-weight: 600;
}

#third_section {
    background-image: url("../imgs/Background\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1684px;
}

#third_section .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#text {
    margin-top: 120px;
    font-size: 31px;
    font-weight: 700;
    color: #FFFFFF;
}

#fields_center {
    display: flex;
    justify-content: space-between;
}

.field.center {
    text-align: center;
}

.field.right {
    text-align: right;
}

.field.left {
    text-align: left;
}

.fields_head {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#app_feature {
    text-align: center;
    width: 60%;
    margin: 0 auto; 
}

.field_column:nth-child(2n+1) {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 800px;
}

#under_app_features {
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    margin-top: 18px;
}

.message {
    margin: 0 auto;
    margin-top: 60px !important;
    text-align: center;
}

.head_appfeatures {
    text-align: center;
    margin-top: 60px;
}

h5 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-top: 22px;
}

.under_full {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    line-height: 24px;
}

#unlimiter {
    width: 297px;
    height: 171px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

#awsome {
    display: flex;
    width: 297px;
    height: 171px;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

#app {
    display: flex;
}

#iso {
    width: 297px;
    height: 171px;
    display: flex;
    flex-direction: column;
}

#retina {
    display: flex;
    height: 171px;
    width: 297px;
    flex-direction: column;
}

#fourth_section {
    background-color: white;
    height: 900px;
}

#now {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#app_now {
    font-size: 31.25px;
    font-weight: 700;
    margin-top: 120px;
}

#under_download {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
    margin-top: 10px;
}

#download_store {
    margin-top: 40px;
}

#download_like_rating {
    width: 100%;
    height: 176px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
#fivth_section{
    background-color: white;
    height: 640px;
}
#fivth_section .container {
    display: flex;
}

.download {
    width: 30%;
    height: 176px;
    background-color: #5851EA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.numbers {
    display: inline-block;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 18px;
}

h6 {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 18px;
}

#app_design {
    display: flex;
    margin-top: 110px;
}

#sixth_section {
    height: 477px;
    background-image: url("../imgs/Background\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#how {
    text-align: center;
    padding-top: 150px;
}

#how_to_use {
    font-size: 32px;
    font-weight: 700;
    color: #FFF;
}

/* 970 × 519 px */
.under_how_to_use {
    font-size: 16px;
    font-weight: 400;
    width: 601px;
    height: 70px;
    margin: 0 auto;
    color: #FFF;
}

#seventh_section .container {
    display: flex;
    flex-direction: column;
}

.our_lorem {
    text-align: center;
    padding-top: 200px;
}

.our_reative_team {
    font-size: 31.25px;
    font-weight: 700;
}

.lorem_teen {
    width: 60%;
    height: 70px;
    color: #6C6C72;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 400;
}

#send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 44px;
    border-radius: 4px;
    border: none;
    background-color: #5851EA;
    position: relative;
    right: 46px;
    top: 3px;
}

.three_div {
    display: flex;
    justify-content: center;
    max-width: 32%;
    width: 100%;
    height: 580px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px #0000001A;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
}

.girl_photo {
    border-radius: 50%;
    margin-top: 50px;
}

.carla_press {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-top: 77px;
}

#seventh_section {
    margin-top: 100px;
}

.app_developer {
    display: inline-block;
    font-size: 20px;
    color: #6C6C72;
    font-weight: 600;
    margin-top: 10px;
}

.lorem_eleven {
    width: 100%;
    padding-top: 15px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    color: #6C6C72;
}

.carla_app_lorem {
    text-align: center;
    margin-top: 77px;
}

.social {
    margin-top: 20px;
}

.all {
    display: flex;
    justify-content: space-between;
}

#eigth_section {
    background-image: url("../imgs/Background\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    text-align: center;
    height: 1050px;
}

.our_happy {
    display: inline-block;
    font-size: 31.25px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 120px;
}

#lorem {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 60px;
    margin-top: 24px;
    width: 60%;
}

.our_recent_lorem {
    text-align: center;
    margin-top: 148px;
}

.our_recent_blog {
    font-size: 32px;
    font-weight: 700;
}

.lorem_twelve {
    width: 65%;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 30px;
}

.insta_snapchat {
    width: 30%;
    border-radius: 10px 10px 0px 0px;
    height: 510px;
    margin-top: 70px;
    background-color: rgb(239, 245, 239);
}

.snapchat {
    width: 100%;
    height: 228px;
    border-radius: 10px 10px 0px 0px;
}

.the_snap_lorem {
    margin-top: 50px;
    padding: 25px;
}

.the_snap {
    font-size: 20px;
    font-weight: 600;
}

.lorem_thirdteen {
    font-size: 16px;
    padding-top: 20px;
    font-weight: 400;
}

.read_more {
    color: #5851EA;
    font-size: 20px;
    font-weight: 600;
}

.read {
    padding-top: 30px;
    text-decoration: underline;
}

.snap_insta {
    display: flex;
    gap: 30px;
}

.footer {
    background-color: rgb(32, 32, 32);
    margin-top: 250px;
    height: 567px;
}

.logo_quicklink_newsletter {
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    width: 30%;

}

.quick_link {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 30%;
}

.news_letter {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 80px;
    padding-top: 60px;
    width: 30%;
}

.google_app_store {
    width: 35%;
}

.lorem_impsum {
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}
#footer_contact{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    height: 260px;
    width: 100%;
    border-radius: 30px;
    padding: 50px 70px;
    position: relative;
    bottom: 130px;
    box-shadow: 0px 10px 100px 0px #0000003D;
}
.footer_about {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
.footer_div{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 40px;
}
.info_numb {
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
}

.link {
    padding-top: 30px;
    width: 100px;
}

.four {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.subscribe {
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    padding-top: 30px;
}

.email {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
}

.email_add {
    padding-top: 30px;
    display: flex;
}


@media screen and (max-width:1200px) {

    #nav_left nav a,
    #nav_right nav a {
        font-size: 16px;
    }

    #logo {
        width: 170px;
        height: 80px;
    }

    #nav_right button {
        padding: 0 7px;
    }

    #nav_left,
    #nav_right {
        width: calc((100% - 200px) / 2);
    }

    #apple_img {
        width: 400px;
    }


    #h2_great {
        font-size: 32px;
        margin-top: 14px;
    }

    #under_great {
        font-size: 12px;
        margin-top: 18px;
        line-height: 24px;
    }
    #unlimiter_img{
        width: 330px;
    }
    h5{
        font-size: 20px;
    }
}

@media screen and (max-width:1000px) {
    #header_social_medias{
        gap: 25px;
    }
    #nav_right button {
        padding: 0 10px;
    }

    #nav_left nav a,
    #nav_right nav a {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
    }
    .info {
        font-size: 12px;
    }
    #nav_right button {
        width: 100px;
        font-size: 13px;
        font-weight: 500;
        height: 40px;
    }

    #background_div {
        width: 46%;
        height: 350px;
    }
    #unlimiter_img{
        width: 260px;
    }
    .field_column:nth-child(2n+1){
        height: 620px;
    }
    #nav_left,
    #nav_right {
        width: calc((100% - 140px) / 2);
    }

    #download_app_now {
        font-size: 23px;
        margin-top: 13px;
    }

    #google_app_store {
        width: 90%;
    }

    #logo {
        width: 130px;
        height: 65px;
    }

    #header_bottom {
        height: 50px;
    }

    #apple {
        width: 250px;
    }

    #telephone_img {
        width: 300px;
        height: 600px;
    }

    #h2_great {
        font-size: 24px;
        margin-top: 14px;
    }

    .under_first_text {
        margin-top: 15px;
        font-size: 14px;
    }

    #under_great {
        font-size: 9px;
        margin-top: 15px;
        line-height: 24px;
    }

    .container {
        width: 90%;
    }
    #great_app{
        margin-top: 70px;
    }
    #apple_img{
        width: 400px;
        height: 500px;
    }
    
}

@media screen and (max-width:768px) {

    #nav_left nav a,
    #nav_right nav a {
        display: none;
    }
    #apple_img{
        width: 320px;
        height: 400px;
    }
    #unlimiter_img{
        width: 167px;
    }
    #nav_right {
        display: flex;
        justify-content: flex-end;
    }
    #background_div{
        height: 330px;
    }
    #download_app_now {
        font-size: 16px;
        margin-top: 10px;
    }
    #great_app{
        padding: 13px;
    }
    #h2_great{
        font-size: 20px;
    }
    #under_great{
        font-size: 8px;
    }
}
@media screen and (max-width:500px) {
    #download_app_iphone{
        flex-direction: column;
    }
    .info {
        font-size: 10px;
    }
    #header_social_medias{
        gap: 15px;
    }
    .fa-brands{
        font-size: 10px;
    }
    #header_contact{
        gap: 20px;
    }
    #header_top{
        display: none;
    }
    #great_app{
        width: 86%;
        height: 310px;
        margin-top: 60px;
    }
    #background_div{
        width: 96%;
        height: 385px;
        margin-left: 30px;
    }
    #download_app_now {
        font-size: 20px;
        margin-top: 30px;
    }
    #h2_great{
        font-size: 25px;
    }
    #under_great{
        font-size: 13px;
    }
    #apple{
        margin: 0 auto;
        padding-top: 40px;
    }
    #apple_img{
        width: 368px;
        height: 472px;
    }
}